---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from 'astro:content';

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await getCollection("blog"))
    .filter((post) => import.meta.env.DEV || !post.data.draft)
    .sort(
        (a, b) =>
            new Date(b.data.pubDate).valueOf() -
            new Date(a.data.pubDate).valueOf()
    );
const { title } = "Blog posts";
---

<BaseLayout date="Jan 03, 2023">
    <a href="/tags">Tags</a>
    <style>
        ul {
            list-style-type: none;
            padding: unset;
        }
        ul li {
            display: flex;
        }
        ul li time {
            flex: 0 0 130px;
            font-style: italic;
            color: var(--rose);
        }
        ul li a:visited {
            color: var(--subtle);
        }
    </style>
    <section>
        <ul>
            {
                posts.map((post) => (
                    <li>
                        <time datetime={post.data.pubDate}>
                            {new Date(
                                post.data.pubDate
                            ).toLocaleDateString("en-us", {
                                year: "numeric",
                                month: "short",
                                day: "numeric",
                            })}
                        </time>
                        <a href={`/blog/${post.id}`}>{post.data.title}</a>
                    </li>
                ))
            }
        </ul>
    </section>
</BaseLayout>
